<div>
    <form [formGroup]="studentForm" (ngSubmit)="submitStudent()">
        <div class="flex flex-wrap items-end gap-4 m-5">
            <p-floatlabel>
                <p-inputnumber id="id" formControlName="id" required />
                <label for="number" aria-label="Id" i18n >Id</label>
            </p-floatlabel>

            <p-floatlabel>
                <input pInputText id="last-name" formControlName="lastName" required />
                <label p-floatlabel for="last-name" aria-label="last-name" i18n>Last name</label>
            </p-floatlabel>
                
            <p-floatlabel>
                <input pInputText id="first-name" formControlName="firstName" required />
                <label for="first-name" aria-label="first-name" i18n>First name</label>
            </p-floatlabel>

            <button pButton type="submit" class="primary" [disabled]="buttonIsDisabled()" i18n >Create</button>
        </div>
    </form>

    <p-table [value]="students()" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th i18n >Id</th>
                <th i18n >Last name</th>
                <th i18n >First name</th>
                <th i18n >Actions</th>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>
                    <p-button i18n-label label="Delete" (onClick)="removeStudent(user.id)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
