/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "../node_modules/primeicons/primeicons.css";

body {
    font-family: Helvetica;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 28px;
}