<div class="m-2">
  <h2 i18n>Login</h2>
  <p i18n>You need to be connected to access to this feature.</p>
  <div class="card w-[50%] mx-auto">
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-5/12 flex flex-col items-center justify-center gap-3 py-5">
        <form (submit)="handleSubmit($event)" class="flex flex-col gap-2">
          <ng-container [tanstackField]="form" name="email" #email="field">
            <p-floatLabel>
              <input
                pInputText
                [name]="email.api.name"
                [value]="email.api.state.value"
                (blur)="email.api.handleBlur()"
                (input)="email.api.handleChange($any($event).target.value)"
              />
              <label [for]="email.api.name" i18n>Email</label>
            </p-floatLabel>
          </ng-container>

          <ng-container [tanstackField]="form" name="password" #password="field">
            <p-floatLabel>
              <input
                pInputText
                type="password"
                [name]="password.api.name"
                [value]="password.api.state.value"
                (blur)="password.api.handleBlur()"
                (input)="password.api.handleChange($any($event).target.value)"
              />
              <label [for]="password.api.name" i18n>Password</label>
            </p-floatLabel>
          </ng-container>
          <button pButton type="submit" class="primary" [disabled]="disableButton()">
            @if (loaderNewStudent()) {
              <p-progress-spinner ariaLabel="loading" [style]="{ width: '25px', height: '25px' }" />
            } @else {
              <p i18n>Sign up</p>
            }
          </button>
        </form>
      </div>
      <div class="w-full md:w-2/12">
        <p-divider layout="vertical" class="!hidden md:!flex"><b i18n>OR</b></p-divider>
        <p-divider layout="horizontal" class="!flex md:!hidden align=center">
          <b i18n>OR</b>
        </p-divider>
      </div>
      <div class="w-full md:w-5/12 flex items-center justify-center py-5">
        <p-button
          i18n-label
          label="Sign Up"
          icon="pi pi-user-plus"
          severity="success"
          class="w-full max-w-[17.35rem]"
          styleClass="w-full mx-auto"
          (click)="toRegister()"
        />
      </div>
    </div>
  </div>
</div>
